.logo {
    display: block; 
    width: 226px;
    height: 40px;

    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../images/logo.png');
}