.text-logo {
    display: inline-block;
    font-size: 60px;
    color: $active;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 700;

    @media(max-width: $tablet) {
        font-size: 42px;
    }

    @media(max-width: $mobile) {
        font-size: 32px;
    }

    span {
        color: $subActive;
    }

    sup  {
        color: $subActive;
        display: inline-block;
        line-height: 100%;
        vertical-align: top;
        font-size: 26px;
        padding: 0;
        margin: 0;
        line-height: 174%;
        margin-left: -12px;

        @media(max-width: $tablet) {
            line-height: 140%;
            margin-left: -8px;
        }

        @media(max-width: $mobile) {
            line-height: 146%;
            font-size: 20px;
            margin-left: -6px;
        }
        
    }
}
  