.adv {
    position: relative;
    padding: 120px 0;

    @media (max-width: $tablet) {
        padding: 60px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__inner {
        width: 40%;

        @media (max-width: $tablet) {
            width: 100%;
        }

        &:first-child {
            .adv__item {
                justify-content: end;

                @media (max-width: $tablet) {
                    margin-left: auto;
                    margin-right: auto;
                    width: 360px;
                }

                &:nth-child(2) {
                    padding-right: 40px;

                    @media (max-width: $tablet) {
                        padding-right: 0;
                    }
                }

                @media(max-width: $mobile) {
                    width: 330px;
                }
            }

            .adv__text {
                text-align: right;
            }

            .adv__ico {
                margin-left: 20px;
            }


            @media (max-width: $mobile) {
                .adv__item {
                    &:nth-child(2n) {
                        justify-content: start;
    
                        .adv__text {
                            text-align: left;
                        }
    
                        .adv__ico {
                            margin-right: 20px;
                            margin-left: 0;
                            order: -1;
                        }
                    }
                }
            }
        }

        &:last-child {
            .adv__item {
                justify-content: start;

                @media (max-width: $tablet) {
                    justify-content: end;
                    width: 360px;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media(max-width: $mobile) {
                    width: 330px;
                }

                &:nth-child(2) {
                    padding-left: 40px;

                    @media (max-width: $tablet) {
                        padding-left: 0;
                    }
                }
            }

            .adv__text {
                @media (max-width: $tablet) {
                   text-align: right;
                }
            }

            .adv__ico {
                order: -1;
                margin-right: 20px;

                @media (max-width: $tablet) {
                    order: 1;
                    margin-right: 0;
                    margin-left: 20px;
                }
            }

            @media (max-width: $mobile) {
                .adv__item {
                    &:nth-child(2n + 1) {
                        justify-content: start;
    
                        .adv__text {
                            text-align: left;
                        }
    
                        .adv__ico {
                            margin-right: 20px;
                            margin-left: 0;
                            order: -1;
                        }
                    }
                }
            }
        }

 
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    &__ico {
        position: relative;
        max-width: 92px;
        min-width: 92px;
        height: 92px;
        border-radius: 50%;
        border: 2px solid $active;
        text-align: center;

        @media(max-width: $mobile) {
            height: 64px;
            max-width: 64px;
            min-width: 64px;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            height: 36px;
            width: 36px;

            @media(max-width: $mobile) {
                height: 28px;
                width: 28px;
            }
        }
    }

    &__text {
        font-size: 30px;
        line-height: 120%;
        color: $active;

        @media(max-width: $mobile) {
            font-size: 26px;
        }
    }
}
